page-detail {
    .item-border{
        border: 1px solid #488aff; 
        border-radius: 13px; 
        background-color: #ffffff;;  
        margin-left: auto; 
        margin-right: auto;
    }
}
